*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
}

header > h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #E53170;
    margin-top: 20px;
}

header p{
    text-align: center;
    margin-top: 2em;
    font-size: 30px;
}



.card-container{
    margin: 5em auto;
    width: 80%;
    border: 1px solid green;
}

.card-left{
    width: calc(100% / 3 );
    height: 150px;
    float: left;
    margin-right: 50px;
    
    background-color: #0F0E17;
}

.card-center{
    width: calc(100% / 3 - 50px);
    height: 150px;
    margin-right: 50px;
    float: left;

    background-color: #0F0E17;
}

.card-right{
    width: calc(100% / 3 - 50px);
    height: 150px;
    float: right;
    
    background-color: #0F0E17;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
